.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.local.tfvars
.terraformrc
terraform.rc

node_modules/
dist/
build/
*.zip
npm-debug.log*

.DS_Store
.vscode/
.idea/
.env
.env.*
# Lock files solo en envs/ y bootstrap/
modules/**/.terraform.lock.hcl
